## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API keys

from config import weather_api_key

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,80.91,80,99,10.85,light rain
1,1,New Norfolk,AU,-42.7826,147.0587,43.92,87,23,1.01,few clouds
2,2,Torbay,CA,47.6666,-52.7314,63.37,34,20,6.91,few clouds
3,3,Albany,US,42.6001,-73.9662,91.67,54,0,5.01,clear sky
4,4,Lompoc,US,34.6391,-120.4579,76.78,58,0,12.66,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?70
What is the maximum temperature you would like for your vacation?75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Ponta Do Sol,PT,32.6667,-17.1000,70.43,82,22,2.42,few clouds
25,25,Muros,ES,42.7762,-9.0603,70.68,89,100,4.47,moderate rain
57,57,Niteroi,BR,-22.8833,-43.1036,73.02,70,20,11.50,few clouds
84,84,Vaini,TO,-21.2000,-175.2000,71.76,94,75,4.61,broken clouds
100,100,Guerrero Negro,MX,27.9769,-114.0611,72.36,49,5,11.59,clear sky
117,117,Vao,NC,-22.6667,167.4833,74.14,87,90,25.61,overcast clouds
123,123,Carnarvon,AU,-24.8667,113.6333,71.17,64,100,7.47,overcast clouds
126,126,Tavricheskoye,RU,54.5851,73.6395,73.31,27,32,18.77,scattered clouds
155,155,Pasighat,IN,28.0667,95.3333,71.11,94,70,2.98,broken clouds
166,166,Jardim,BR,-21.4803,-56.1381,74.07,42,11,0.69,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                58
City                   58
Country                58
Lat                    58
Lng                    58
Max Temp               58
Humidity               58
Cloudiness             58
Wind Speed             58
Current Description    58
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.count()

City_ID                58
City                   58
Country                58
Lat                    58
Lng                    58
Max Temp               58
Humidity               58
Cloudiness             58
Wind Speed             58
Current Description    58
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,
25,Muros,ES,70.68,moderate rain,42.7762,-9.0603,
57,Niteroi,BR,73.02,few clouds,-22.8833,-43.1036,
84,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,
100,Guerrero Negro,MX,72.36,clear sky,27.9769,-114.0611,
117,Vao,NC,74.14,overcast clouds,-22.6667,167.4833,
123,Carnarvon,AU,71.17,overcast clouds,-24.8667,113.6333,
126,Tavricheskoye,RU,73.31,scattered clouds,54.5851,73.6395,
155,Pasighat,IN,71.11,broken clouds,28.0667,95.3333,
166,Jardim,BR,74.07,few clouds,-21.4803,-56.1381,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    print(f"processing index: {index}")
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
    #except BaseException as err: 
        #print(err)

processing index: 8
processing index: 25
processing index: 57
processing index: 84
processing index: 100
processing index: 117
processing index: 123
processing index: 126
processing index: 155
processing index: 166
processing index: 174
processing index: 175
processing index: 180
processing index: 196
processing index: 203
processing index: 214
processing index: 220
processing index: 228
processing index: 235
processing index: 238
processing index: 252
processing index: 254
processing index: 265
processing index: 266
processing index: 269
processing index: 276
processing index: 283
processing index: 289
processing index: 301
processing index: 348
processing index: 355
processing index: 360
processing index: 365
processing index: 386
processing index: 409
processing index: 425
processing index: 451
processing index: 471
Hotel not found...skipping.
processing index: 475
processing index: 499
processing index: 508
processing index: 516
processing index: 538
processing index: 539
processing index: 548
processing index: 561
processing index: 567
processing index: 580
processing index: 583
processing index: 589
processing index: 591
processing index: 606
processing index: 618
processing index: 632
processing index: 650
processing index: 671
processing index: 674
processing index: 683

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,Hotel do Campo
25,Muros,ES,70.68,moderate rain,42.7762,-9.0603,Apartment Av. Castelao
57,Niteroi,BR,73.02,few clouds,-22.8833,-43.1036,Hotel Viareggio
84,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
100,Guerrero Negro,MX,72.36,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
117,Vao,NC,74.14,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
123,Carnarvon,AU,71.17,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
126,Tavricheskoye,RU,73.31,scattered clouds,54.5851,73.6395,Prodayotsya Kotedzh
155,Pasighat,IN,71.11,broken clouds,28.0667,95.3333,Siang Guest House
166,Jardim,BR,74.07,few clouds,-21.4803,-56.1381,Estancia Hotel - Jardim MS

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))